{% extends 'posts/layout.html'%}

    {% block title %}post detail{% endblock %}

    {% block post_content %}
        <div class="col-md-8">
            {% include "posts/_post.html" %}
        </div>
        {% if user.is_authenticated and user == post.user %}
            <div class="row">
                    <div class="col col-md-6">
                        <a href="#" class="btn btn-danger">delete post</a>
                    </div>
                    <div class="col col-md-6">
                        <a href="#" class = "btn btn-success">edit this post</a>
                    </div>
            </div>
        {% endif %}
    {% endblock %}
